 @font-face { font-family: Avenir; src: url('AvenirLTStd-Book.otf'); }
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    cursor: url("https://img.icons8.com/external-justicon-flat-justicon/64/000000/external-rocket-science-justicon-flat-justicon.png"), auto;
}
i{
    font-size: 100px;
    color: rgb(215, 64, 226);
}
canvas{
    position:absolute;
    display: block;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index:-2;
  }
  div{
    /* position:absolute; */
    z-index:0;
  }

.container{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    /* background-color: rosybrown; */
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: royalblue; */
    color: rgb(243, 253, 184);
    font-size: 7em;
    font-weight: 600;
    margin: 1.3em;
    flex-wrap: wrap;
}
.btns{
	display: flex;
	/* flex-direction: column; */
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
	transform: rotatex(10deg);
	animation: rotateAngle 6s linear infinite;
    width: 100%;
    justify-content: space-around;
}
.btns>div{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}
button {
	display: block;
	position: relative;
	margin: 0.5em 0;
	padding: .8em 2.2em;
	/* cursor: pointer; */
    width: 100%;
	background: #fae5e5;
	border: none;
	border-radius: .4em;

	text-transform: uppercase;
	font-size: 1.4em;
	/* font-family: "Work Sans", sans-serif; */
	font-weight: 900;
	letter-spacing: 0.04em;

	mix-blend-mode: color-dodge;
	perspective: 500px;
	transform-style: preserve-3d;
}
    button:before, button:after {
		--z: 0px;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		content: '';
		width: 100%;
		height: 100%;
		opacity: 0;
		mix-blend-mode: inherit;
		border-radius: inherit;
		transform-style: preserve-3d;
		transform: translate3d(
			calc(var(--z) * 0px), 
			calc(var(--z) * 0px), 
			calc(var(--z) * 0px)
		);
	}
	
	span {
		mix-blend-mode: none;
		display: block;
	}
	
	button:after {
		background-color: #5D00FF;
	}
	
	button:before {
		background-color: #FF1731;
	}
	
	button:hover {
        cursor: url("https://img.icons8.com/external-justicon-flat-justicon/64/000000/external-rocket-science-justicon-flat-justicon.png"), auto;
    
		background-color: #FFF65B;
		transition: background .3s 0.1s;
        transform: scale(1.1);
	}
	
	button:hover:before {
		--z: 0.04;
		animation: translateWobble 2.2s ease forwards;
	}
	
	button:hover:after {
		--z: -0.06;
		animation: translateWobble 2.2s ease forwards;
	}


@keyframes rotateAngle {
	0% {
		transform: rotateY(0deg) rotateX(10deg);
		animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
	}
	25% {
		transform: rotateY(20deg) rotateX(10deg);
	}
	50% {
		transform: rotateY(0deg) rotateX(10deg);
		animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
	}
	75% {
		transform: rotateY(-20deg) rotateX(10deg);
	}
	100% {
		transform: rotateY(0deg) rotateX(10deg);
	}
}

@keyframes translateWobble {
  0% {
		opacity: 0;
		transform: translate3d(
			calc(var(--z) * 0px), 
			calc(var(--z) * 0px), 
			calc(var(--z) * 0px)
		);
  }
  16% {
		transform: translate3d(
			calc(var(--z) * 160px), 
			calc(var(--z) * 160px), 
			calc(var(--z) * 160px)
		);
  }
  28% {
		opacity: 1;
		transform: translate3d(
			calc(var(--z) * 70px), 
			calc(var(--z) * 70px), 
			calc(var(--z) * 70px)
		);
  }
  44% {
		transform: translate3d(
			calc(var(--z) * 130px), 
			calc(var(--z) * 130px), 
			calc(var(--z) * 130px)
		);
  }
  59% {
		transform: translate3d(
			calc(var(--z) * 85px), 
			calc(var(--z) * 85px), 
			calc(var(--z) * 85px)
		);
  }
  73% {
		transform: translate3d(
			calc(var(--z) * 110px), 
			calc(var(--z) * 110px), 
			calc(var(--z) * 110px)
		);
  }
	88% {
		opacity: 1;
		transform: translate3d(
			calc(var(--z) * 90px), 
			calc(var(--z) * 90px), 
			calc(var(--z) * 90px)
		);
  }
  100% {
		opacity: 1;
		transform: translate3d(
			calc(var(--z) * 100px), 
			calc(var(--z) * 100px), 
			calc(var(--z) * 100px)
		);
  }
}