@font-face { font-family: 'Avenir'; src: url('AvenirLTStd-Book.otf'); }

html,body{
    cursor: url("https://img.icons8.com/external-justicon-flat-justicon/64/000000/external-rocket-science-justicon-flat-justicon.png"), auto;
}
@media (min-width: 0) {
    .g-mr-15 {
        margin-right: 1.07143rem !important;
    }
}
@media (min-width: 0){
    .g-mt-3 {
        margin-top: 0.21429rem !important;
    }
}
.name{
	font-size: 900 !important;
	font-weight: 400 !important;
	padding-bottom: 1em !important;
}
.com{
	box-shadow: 2px 2px 30px rgba(255, 255, 255, 0.8) -2px -2px 1px black !important;
	background-color: rgba(255, 255, 255,0.132) !important;
	margin-bottom: 4em !important;
}

.g-height-50 {
    height: 50px;
}

.g-width-50 {
    width: 50px !important;
}

@media (min-width: 0){
    .g-pa-30 {
        padding: 2.14286rem !important;
    }
}

#comment{
	display: inline-block;
	width: 70%;
	margin: 3em;
	padding: 1em;
	border-radius: 10px;
}
#comment+button{
	background-color: #4CAF50; /* Green */
	border: none;
	border-radius: 20px;
	color: white;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.g-bg-secondary {
	backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 12px;
}

.u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
    color: #777 !important;
}

.g-font-size-12 {
    font-size: 0.85714rem !important;
}

.media-comment {
    margin-top:20px
}





*{
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
}

:root {
	--primary-color: #5924ed;
	--secondary-black: #0d081a;
	--secondary-gray: #48464b;
	--body-bg: #efebfa;
}

.pbox{
	background: #000517;
	color: white;
}

#projects p{
	font-size: 15px;
	font-family: 'Avenir';
}
html{
	font-size: 10px;
}
body {
	background-color: var(--body-bg);
}

#projects{
	overflow-x: hidden;
}
#projects .img {
	width: 100%;
	height: 100%;  
	animation: passByL 2s  1 linear;
	position: relative;  
} 

@keyframes passByL{
	0%{
		left: -100%;
		opacity: 0;
	}
	20%{
		left: -60%;
	}
	40%{
		left: -30%;
	}
	60%{
		left: 20%;
	}
	80%{
		left: -10%;
	}
	100%{
		left: 0%;
	}
}
   
.section-heading {
	font-size: clamp(2rem, 10vw, 8rem);
	font-family: 'Avenir';
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
	position: relative;
}
.section-heading::before {
	content: attr(data-outline);
	position: absolute;
	left: 2%;
	top: -20%;
	width: 100%;
	font-family: 'Avenir';
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2rem;

	color: transparent;
	/* -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.103); */
	-webkit-text-stroke: 4px rgba(0, 64, 255, 0.106);
	z-index: 1;
}
.buttons {
	margin-top: 3rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2rem;
	font-size: 10px;
}

.buttons a{
	text-decoration: none;
	color: white;
}

.primary-btn {
	display: inline-block;
	background-color: var(--primary-color);
	color: white;
	font-size: 1.8rem;
	padding: 0.6em 1.6em;
	border-radius: 50px;
} 

.buttons .primary-btn.outline {
	background-color: transparent;
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
}
.buttons svg {
	width: 50px; 
}   
/* Projects Section */
#projects {
	padding: 10rem 0;
}
#projects .item {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 900px;
	margin: 0 auto;
	margin-bottom: 15rem;
	/* gap: 2rem; */
}
#projects .item:nth-of-type(even) {
	flex-direction: row-reverse;
}
#projects .item .left {
	flex: 1;
}
#projects .item .right {
	margin-left: -150px;
	flex: 1;
	background-color: white;
	padding: 5rem 3rem;
	border-radius: 12px;
	box-shadow: 0px 0px 20px #00000028;
	z-index: 2;
	color: black;
	position: relative; 
	animation: passByR 2s 1 linear;

	backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 12px;
}


@keyframes passByR{
	0%{
		left: 100%;
		opacity: 0;
	}
	20%{
		left: 50%;
	}
	40%{
		left: 10%;
	}
	60%{
		left: -20%;
	}
	80%{
		left: 10%;
	}
	100%{
		left: -5%;
	}
}

#projects .item:nth-of-type(even) .right {
	margin-left: 0;
}
#projects .item:nth-of-type(even) .left {
	margin-left: -150px;
}
#projects .item .left .img {
	height: 500px;
	overflow: hidden;
	border-radius: 12px;
	overflow: hidden; 
	position: relative;
	margin-right: 100px;
	box-shadow: 0 0 30px rgb(255, 255, 255);
}
 
#projects .item .left .img::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #5a24ed38;
}
#projects .item .left .img img {
	object-fit: cover;
	transition: 0.3s linear transform;
}
#projects .item:hover .left .img img {
	transform: scale(1.1); 
	z-index: 1;
}
#projects .item:hover .left .img img {
	box-shadow: 2px 2px 2px aliceblue;
}
#projects .item .right .project-title {
	font-size: 2.5rem;
	font-family: 'Avenir';
	margin-bottom: 1rem;
	font-weight: 600;
	text-align: center;
}
#projects .item .right .project-sub-title {
	font-size: 1.6rem;
	margin-bottom: 2rem;
	font-family: 'Avenir';
	text-align: right;
}
#projects .item .right .project-desc {
	color: var(--secondary-gray);
	margin-bottom: 3rem;
}
#projects .item .right .external-link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: calc(0.6em - 4px) calc(1.6em - 4px);
}
#projects .item .right .external-link svg {
	width: 25px;
}

#projects .item .tags{ 
	margin: 0px 2px;
	display: flex; 
}

#projects .item .tags .tag{
	border: 1px solid rgb(49, 48, 48);
	margin: 0 5px; 
	width: auto;
	padding: 5px;
	font-size: 14px;
	opacity: 0.5;
	border-radius: 2px;
	cursor: pointer; 
	border-radius: 20px;
	transition: all linear 0.33s;
}

#projects .item .tags .tag:hover{
	opacity: 1;
	color: blue;
	border: 1px solid blue;
	transform: scale(1.1);
}

@media only screen and (max-width: 808px) {
	#projects .item {
		flex-direction: column;
	}
	#projects .item .left {
		width: 100%;
	}
	#projects .item .right {
		margin-left: 0;
		width: 93%;
		margin-top: -335px;
	}
	#projects .item:nth-of-type(even) {
		flex-direction: column;
	}
	#projects .item:nth-of-type(even) .left {
		margin-left: 0;
	}
}
@media only screen and (max-width: 450px) {
	#projects .item .right .buttons {
		flex-direction: column;
	}
	#projects .item .right .buttons a {
		width: 100%;
		text-align: center;
	}
}




.search-box {
	position: absolute;
	top : 9%;
	left: 50%;
	margin: auto auto;
	transform: translate(-50%, -50%);
	background: rgba(248, 214, 214, 0.911);
	height: 50px;
	/* width: 50px; */
	border-radius: 40px;
	padding: 5px;
	
  }
  input:focus,
#post:focus {
    outline: none;
}
  
  .search-box:hover > .search-text{
	width: 240px;
	padding: 0 6px;
	cursor: pointer;
  }
  
  .search-box:hover > .search-btn{
	background: white;
	color: black;
	cursor: pointer;
  }
  
  .search-btn {
	color: white;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	cursor: pointer;
	text-decoration: none;
	padding: auto auto;
	
  }
  .search-btn > i {
	fontsize: 30px;
  }
  
  .search-text {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: rgb(0, 0, 0);
	font-size: 16px;
	font-weight: normal;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;
	
  /*   width: 250px; */
	
	
	
  }
  .search-btn:hover{
	  cursor: pointer;
  }